body {
    display: block;
    margin: 0;
    text-align: center;
    font-family: 'Montserrat';
}

.btn-lg {
    margin: 10px 0 0 0;
}

h1 {
    padding: 50px 0;
}

h5 {
    padding: 15px 0;
}

input {
    margin: 15px 0;
}

hr {
    background-color: whitesmoke;
}

#title {
    background-color: #ff4c68;
    color: #fff;
}
